@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&display=swap');
.nav{
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
    margin: 0; 
    padding-top: 12px;
    background-color: #2c1a4ac5;
    padding-right: 20px;
    min-height: 76px;
    overflow: hidden;
    /* z-index: 2; */
}
.nav-item{
    padding: 10px 12px;
    color: #dddde2;
    font-family: 'Cormorant SC', serif;
    font-size: 18px;
    margin-left: 12px;
    width: 80px;
}
.nav-item a{
    text-decoration: none;
    color:rgb(211, 212, 212);
}
.nav-span{
    height: 0;
    opacity: 0;
    overflow: hidden;
    color: rgb(211, 212, 212);
    /* transition: opacity .3s ease-in-out; */
}
.nav-item:hover .nav-span{
    height: auto;
    opacity: 1;
}
.nav-item:hover .nav-prev{
    display: none;
}
